# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.production

# Prisma
node_modules/.prisma/

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/

# Coverage de testes
coverage/